<form [formGroup]="newCharacterForm" (ngSubmit)="addNewCharacter()">
  <h1>Add a new character</h1>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Class</mat-label>
    <mat-select formControlName="class" (selectionChange)="onClassChange()">
      <mat-option *ngFor="let class of classes" [value]="class">
        {{class}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="newCharacterForm.value.class" formArrayName="perks">
    <div *ngFor="let address of perks.controls; let i=index">
      <mat-slider
        id="perks"
        max="{{characterPerks[i].count}}"
        min="0"
        step="1"
        thumbLabel="true"
        tickInterval="1"
        value="{{characterPerks[i].activeCount}}"
        [formControlName]="i">
      </mat-slider>
      <label for="perks" class="description">{{characterPerks[i].description}}</label>
    </div>
  </div>

  <button mat-raised-button color="primary" [disabled]="!newCharacterForm.valid">Add</button>
</form>
