@import 'node_modules/@angular/material/theming';

@include mat-core();

$attack-modifier-deck-primary: mat-palette($mat-red);
$attack-modifier-deck-accent: mat-palette($mat-orange, A200, A100, A400);

$attack-modifier-deck-theme: mat-dark-theme($attack-modifier-deck-primary, $attack-modifier-deck-accent);

@include angular-material-theme($attack-modifier-deck-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Merienda'
);

@include angular-material-typography($custom-typography);
