@import "~@angular/material/prebuilt-themes/purple-green.css";
@import './general';

body {
  background: #303030;
  color: #fff;
  font-family: 'Merienda';
}

form {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
