@import "~@angular/material/prebuilt-themes/purple-green.css";
@import './attack-modifier-deck-theme';
@import './general';

body {
  font-family: 'Merienda';
}

form {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
