<header>
  <nav>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-button routerLink="/">Attack Modifier Deck</button>

      <div class="fill-space"></div>

      <div *ngIf="authService.user | async as user; else showSignIn">

        <button id="add-menu" mat-mini-fab color="primary" [matMenuTriggerFor]="addMenu">
          <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <mat-menu #addMenu="matMenu">
          <button mat-menu-item routerLink="/scenario/new">New Scenario</button>
          <button mat-menu-item routerLink="/character/new">New Character</button>
        </mat-menu>

        <button mat-mini-fab color="accent" [matMenuTriggerFor]="userMenu">{{userInitial | async | uppercase}}</button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/scenario">Your Scenarios</button>
          <button mat-menu-item routerLink="/character">Your Characters</button>
          <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
      </div>

      <ng-template #showSignIn>
        <button mat-button routerLink="/signin">Sign In</button>
        <button mat-raised-button routerLink="/signup" color="accent">Sign Up</button>
      </ng-template>
    </mat-toolbar>
  </nav>
</header>
