<header>
  <nav>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-button href="/">Attack Modifier Deck</button>

      <div class="fill-space"></div>

      <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Add">add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/scenario/new">New Scenario</button>
        <button mat-menu-item routerLink="/character/new">New Character</button>
      </mat-menu>

      <ng-template #showSignIn>
        <a mat-raised-button routerLink="/signin" color="accent">Sign In</a>
      </ng-template>
    </mat-toolbar>
  </nav>
</header>
