<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Attack Modifier Deck</a>
  <div class="fill-space"></div>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
      aria-controls="dropdown-basic">
      <span class="plus">+</span><span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" routerLink="/scenario/new">New Scenario</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/character/new">New Character</a></li>
    </ul>
  </div>
