<form [formGroup]="scenarioNewForm" (ngSubmit)="addScenarioNew()">
  <h1>Add a new scenario</h1>

  <mat-form-field>
    <input matInput formControlName="scenarioName" placeholder="Scenario Name" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Characters</mat-label>
    <mat-select formControlName="characters" multiple>
      <mat-option *ngFor="let character of characters | async" [value]="character">
        {{character.name}} ({{character.class}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!scenarioNewForm.valid">Add</button>
</form>
