#deck-info {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
}

.card-drawn {
  width: 100%;
  text-align: center;
  font-size: 3em;
  border-radius: 6px;
}

.click-animation {
  animation:  pulse .5s ease;
}

:host > * {
  display: block;
  margin-bottom: 15px;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
