.row {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 100%;
  text-align: center;
  font-size: 2em;
  border-radius: 6px;
}

.click-animation {
  animation:  pulse .5s ease;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}