<div class="d-flex justify-content-between">
  <div>{{character.name}}</div>
  <div>{{activeDeckSize}}</div>
</div>
<div class="small">{{character.class}}</div>
<div class="card-drawn" [ngClass]="{'click-animation' : clickAnimation}">{{deckState.drawnCard}}</div>
<div>
  <input type="button" class="btn btn-warning btn-lg" (click)="drawCard()" value="Draw" />
</div>
<div>
  <input type="button" class="btn btn-light btn-lg" (click)="shuffle()" value="Shuffle"
    *ngIf="!deckState.shouldShuffle; else shouldntShuffle" />
</div>
<div>
  <ng-template #shouldntShuffle><input type="button" class="btn btn-danger btn-lg" (click)="shuffle()"
      value="Shuffle" /></ng-template>
</div>
<div>
  <input type="button" class="btn btn-light btn-lg" (click)="curse()" value="{{curseButtonValue}}" />
</div>
<div>
  <input type="button" class="btn btn-light btn-lg" (click)="bless()" value="{{blessButtonValue}}" />
</div>
<div>
  <input type="button" class="btn btn-light btn-lg" (click)="addMinusOne()" value="{{minusOneButtonValue}}" />
</div>
